@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <img class="align-content-center" src="https://images.sympla.com.br/5e613d73191cd.png" />
        <h1 class="display-4">Fundamentos do Desenvolvimento de Aplicações Web ASP .NET</h1>
        <br />
        <p class="lead">Assessment</p>
        <p class="lead">Aluno: Eloy Barbosa</p>
        <p class="lead">Professor: Rafael Cruz</p>
        <p class="lead">Curso: Engenharia da Computação</p>
        <p>
            Com o objetivo de praticar tudo o que foi aprendido na disciplina de Fundamentos do Desenvolvimento de Aplicações Web ASP .NET, nesse Assessment, você deve criar, com o Visual Studio, um projeto de uma aplicação Web do tipo ASP .NET Web Application (.NET Framework) e utilizar o template MVC. Esse projeto será uma aplicação para o Gerenciamento de Aniversários de Amigos. Todos os dados utilizados por essa aplicação devem ser armazenados em uma base de dados SQL Server Express LocalDB.

            Na página principal da aplicação, devem ser exibidas duas listas: uma contendo os nomes dos amigos aniversariando no dia, e outra contendo os nomes e as datas de aniversário dos amigos ordenados da data mais próxima para a data mais distante.

            Deve haver também uma página para o cadastro de amigos e uma página que liste todos os amigos. Essa segunda deve dar as opções de atualizar os dados do amigo ou de deletar o amigo, e também deve permitir que seja realizada uma busca pelo nome do amigo.

            Um amigo deve possuir, pelo menos, nome, sobrenome e data de aniversário.

            Você deve criar os Modelos, as Visões fortemente tipadas, os Controladores e os Repositórios necessários.
        </p>
    </div>